  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
  
  body {
    line-height: 1.6;
    color: #333;
    background-color: #5a4470;
  }

  section {
    background-color: #fff;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .about {
    margin-top: 100px;
  }
  
  h2 {
    text-align: center;
    color: #0073e6;
    margin-bottom: 20px;
  }
  
  p {
    text-align: justify;
    margin-bottom: 20px;
  }
  
  /* Story and Mission Section Styles */
  .story-mission {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .story, .mission {
    flex-basis: 45%;
  }
  
  .team{
    height: fit-content;
  }
  /* Team Section Styles */
  .team-member {
    display: flex;
    background-color: #f0f0f0;
    padding: 15px;
    margin-left: 10px;
    /* width: 350px; */
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .team-member2 {
    display: flex;
    background-color: #f0f0f0;
    margin-top: -100px;
    padding: 15px;
    margin-left: 370px;
    /* width: 350px; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .team-member3 {
    display: flex;
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: -100px;
    margin-left: 740px;
    /* width: 350px; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .team-member h3 {
    margin: 0;
    color: #0073e6;
  } 