<br><br><br><div> 
  <h1 style="font-size: 36px;font-weight: bold;color: #333;margin-bottom: 30px;text-align: center;">Certificate of Completion</h1>
  <h4 style="text-align: center;">This is to certify that</h4>
  <h2 style="font-size: 28px;font-weight: bold;color: #2c3e50;margin: 20px 0;text-align: center;">{{ name }}</h2>
  <h4 style="text-align: center;"> successfully completed the course</h4>
  <h2 style="font-size: 24px;color: #3498db; margin: 20px 0;text-align: center;">{{ course }}</h2>
  <h4 style="text-align: center;">with dedication and commitment.</h4>
  <h3 style="font-size: 16px;margin-top: 40px;text-align: center;">Completed on: {{ completion_date }}</h3>
  <h3 style="font-size: 16px;margin-top: 40px;text-align: center;"> Thank you for choosing LearningLab </h2>
</div>  