{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
  <link rel="stylesheet" href="/static/css/footer.css">
  <link rel="icon" href="/static/img/logo-transparent-png.png" type="image/icon type">
</head>
<body>
<footer>
    <div class="row">
        <div class="col"> 
            <div class="Logo"><img src="/static/img/logo-transparent-png.png" width="120px" height="85px"></div>
            <p>
                <h3 style="margin-top: 10px;">Languages</h3>
                HTML<br>
                CSS<br>
                JAVA SCRIPT<br>
                C<br>
                C#<br>
                PYTHON<br>                    
            </p>
        </div>
        <div class="col">
            <h3>office</h3>
            <p>ITPL Road</p>3
            <p>Whitefield, bangalore</p>
            <p>karnataka, PIN 560066,India</p>
            <p class="email-id">LearningLab23@outlook.com</p>
            <h4>+91- 0123456789</h4>
        </div>        
        <div class="col">
            <h3>Popular Tutor</h3>
            <br>
            <ul>
                <li><a href="/codewith_mosh"><img src="/static/img/programing with mosh.jpg" width="40px" height="40px"> Mosh Hamedani</a></li>
                <li><a href="/broh_code"><img src="/static/img/brocode.jpg" width="40px" height="40px"> Broh Code</a></li>
                <li><a href="/shraddha_khapra"><img src="/static/img/shradha_khapra.jpg" width="40px" height="40px"> Shradha khapra</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>NewSletter</h3>
            <form>
                <i class="far fa-envelope"></i>
                <input type="email" placeholder="Enter your email id" required>
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <a href="https://www.whatsapp.com/" target="_blank"><img src="/static/img/WhatsApp.jpg" width="40px" height="40px"></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="/static/img/fb.jpg" width="40px" height="40px"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="/static/img/ig.jpg" width="40px" height="40px"></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="/static/img/youtube.jpg" width="40px" height="40px"></a>
            </div>
        </div>            
        <div class="footer-bottom">
            <p>&copy;2025 LearningLab. All rights reserved.</p>
          </div>      
    </div>
  </footer>
</body>
</html>